/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2 {
    color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.punteggio h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.punteggio p {
    font-size: 0.9rem;
    color: #666;
}

.list-group-item {
    font-size: 1.1rem;
}
