{% extends "base.html" %}

{% block title %}Menu Classifiche{% endblock %}

{% block content %}
  <h2>Classifiche disponibili</h2>
  <ul>
    <li><a href='/classifiche/gol'>Classifica Gol</a></li>
    <li><a href='/classifiche/giocate'>Classifica Partite Giocate</a></li>
    <li><a href='/classifiche/vinte'>Classifica Partite Vinte</a></li>
    <li><a href='/classifiche/perse'>Classifica Partite Perse</a></li>
    <li><a href='/classifiche/voto'>Classifica Media Voto (≥ 5 partite)</a></li>
    <li><a href='/classifiche/mediagol'>Classifica Media Gol Individuali (≥ 5 partite)</a></li>
    <li><a href='/classifiche/mediagolfatti'>Classifica Media Gol Fatti Squadra (≥ 5 partite)</a></li>
    <li><a href='/classifiche/mediagolsubiti'>Classifica Media Gol Subiti Squadra (≥ 5 partite)</a></li>
    <li><a href='/classifiche/percentuale_vittorie'>Classifica Percentuale Vittorie (≥ 5 partite)</a></li>
  </ul>
{% endblock %}
