{% extends "base.html" %}

{% block title %}Menu Classifiche{% endblock %}

{% block content %}
  <h2>Classifiche disponibili</h2>
  <ul>
    <li><a href='/classifiche/gol'>Classifica Gol</a></li>
    <li><a href='/classifiche/giocate'>Classifica Partite Giocate</a></li>
    <li><a href='/classifiche/vinte'>Classifica Partite Vinte</a></li>
    <li><a href='/classifiche/perse'>Classifica Partite Perse</a></li>
    <li><a href='/classifiche/voto'>Classifica Media Voto</a></li>
  </ul>
{% endblock %}